本示例为pandas中groupby的用法

In [4]:
import pandas as pd

df = pd.read_excel('./srcdata/clothes.xlsx')

In [5]:
df

      Name          Brand    Cloth  Count
0     girl          uniql  sweater      3
1     girl           etam     suit      1
2     girl           etam    pants      1
3     girl         lagogo   jacket      2
4      boy            NaN    pants      2
5      boy         hailan  t-shirt      1
6   mother  hengyuanxiang     coat      2
7   mother  hengyuanxiang  sweater      1
8   mother            NaN     coat      1
9   father         hailan  t-shirt      2
10  father         hailan  sweater      1
11  father         hailan    pants      3

In [6]:
# groupby以后的对象，实际上还没有进行任何计算，只是一个暂时存储的容器
gp = df.groupby('Brand')

In [7]:
# 对groupby以后的对象进行计数，相当于统计每个brand的数量，因此每列都一样
gp.count()

               Name  Cloth  Count
Brand
etam              2      2      2
hailan            4      4      4
hengyuanxiang     2      2      2
lagogo            1      1      1
uniql             1      1      1

In [12]:
gp.indices.keys()    # 查看brand的种类

dict_keys(['etam', 'hailan', 'hengyuanxiang', 'lagogo', 'uniql'])

In [13]:
gp.count().index     # 查看brand的种类

Index(['etam', 'hailan', 'hengyuanxiang', 'lagogo', 'uniql'], dtype='object', name='Brand')

In [23]:
# 统计每个barnd衣服的记录的行数
df['Count'].groupby(df['Brand']).size()    # 同.count()

Brand
etam             2
hailan           4
hengyuanxiang    2
lagogo           1
uniql            1
Name: Count, dtype: int64

In [25]:
# 统计每个barnd衣服的数量
df['Count'].groupby(df['Brand']).agg(sum)      # 同直接.sum()

Brand
etam             2
hailan           7
hengyuanxiang    3
lagogo           2
uniql            3
Name: Count, dtype: int64

In [29]:
# 统计每个barnd下每个人买的衣服的数量
import numpy as np
df['Count'].groupby(df['Brand']).agg(np.mean)      # 同直接.mean(),因为df['Count']不能识别‘Brand’所以必须写成df['Brand']

Brand
etam             1.00
hailan           1.75
hengyuanxiang    1.50
lagogo           2.00
uniql            3.00
Name: Count, dtype: float64