介绍处理时间的模块

### 一、Time模块

模块中的时间格式包括三种：时间戳、结构化时间、格式化的时间字符串

In [1]:
import time

1. 生成时间戳

In [2]:
time.time()

1545447380.001638

2. 生成格式化的时间字符串

In [3]:
time.ctime()

'Sat Dec 22 10:57:11 2018'

In [4]:
# time.strftime(format, p_tuple)将结构化时间转为格式化的时间字符串,p_tuple缺省值为None,即将localtime()进行转换
time.strftime("%Y-%m-%d %H:%M:%S")

'2018-12-22 10:57:19'

3. 生成结构化时间

In [5]:
# 格林威治(GMT)时间
time.gmtime()

time.struct_time(tm_year=2018, tm_mon=12, tm_mday=22, tm_hour=3, tm_min=1, tm_sec=25, tm_wday=5, tm_yday=356, tm_isdst=0)

In [6]:
# 本地时间
time.localtime()

time.struct_time(tm_year=2018, tm_mon=12, tm_mday=22, tm_hour=11, tm_min=2, tm_sec=21, tm_wday=5, tm_yday=356, tm_isdst=0)

4. 时间戳转结构化时间

In [7]:
time.gmtime(time.time())

time.struct_time(tm_year=2018, tm_mon=12, tm_mday=22, tm_hour=3, tm_min=2, tm_sec=55, tm_wday=5, tm_yday=356, tm_isdst=0)

In [9]:
time.localtime(time.time())

time.struct_time(tm_year=2018, tm_mon=12, tm_mday=22, tm_hour=11, tm_min=3, tm_sec=34, tm_wday=5, tm_yday=356, tm_isdst=0)

5. 时间戳转格式化时间字符串

In [12]:
time.ctime(time.time())

'Sat Dec 22 11:04:02 2018'

6. 结构化时间转时间戳

In [13]:
time.mktime(time.localtime())

1545447862.0

7. 结构化时间转格式化的时间字符串

In [14]:
time.asctime(time.localtime())

'Sat Dec 22 11:04:42 2018'

In [15]:
time.strftime('%Y-%m-%d', time.localtime())

'2018-12-22'

8. 格式化的时间字符串转结构化时间

In [16]:
time.strptime(time.strftime("%Y-%m-%d %H:%M:%S"), '%Y-%m-%d %H:%M:%S')

time.struct_time(tm_year=2018, tm_mon=12, tm_mday=22, tm_hour=11, tm_min=7, tm_sec=2, tm_wday=5, tm_yday=356, tm_isdst=-1)

In [17]:
time.strptime(time.ctime(), '%a %b %d %H:%M:%S %Y')

time.struct_time(tm_year=2018, tm_mon=12, tm_mday=22, tm_hour=11, tm_min=7, tm_sec=8, tm_wday=5, tm_yday=356, tm_isdst=-1)

9. 格式化的时间字符串转时间戳

In [18]:
# 先将格式化的时间字符串转为结构化时间

In [19]:
time.mktime(time.strptime(time.ctime(), "%a %b %d %H:%M:%S %Y"))

1545448070.0

In [20]:
time.mktime(time.strptime(time.strftime("%Y-%m-%d %H:%M:%S"), "%Y-%m-%d %H:%M:%S"))

1545448074.0

### 二、Datetime模块

In [21]:
import datetime

1. datetime的内置数据类型

In [24]:
 # datetime.datetime对象（当前时间）
datetime.datetime.now()

datetime.datetime(2018, 12, 22, 11, 21, 3, 652633)

In [25]:
# datetime.datetime对象（定义时间）
datetime.datetime(year=2018,month=12,day=22,hour=11, minute=30, second=20, microsecond=36)

datetime.datetime(2018, 12, 22, 11, 30, 20, 36)

In [26]:
# datetime.date对象
datetime.date(year=2018,month=12,day=22)

datetime.date(2018, 12, 22)

In [28]:
# datetime.time对象
datetime.time(hour=11, minute=30, second=20, microsecond=36)

datetime.time(11, 30, 20, 36)

In [30]:
# datetime.timedelta对象，常用于时间之间的数学运算
datetime.timedelta(days=2,seconds=1,microseconds=20,minutes=10,hours=10,weeks=1)

datetime.timedelta(9, 36601, 20)

In [31]:
# 利用datetime.timedelta对象进行时间运算
time_span = datetime.timedelta(days=1)
datetime.datetime.now()+time_span

datetime.datetime(2018, 12, 23, 11, 47, 12, 689424)

2. 时间戳转datetime对象

In [32]:
# 本地时间
datetime.datetime.fromtimestamp(time.time())

datetime.datetime(2018, 12, 22, 11, 47, 53, 218368)

In [33]:
# UTC时间
datetime.datetime.utcfromtimestamp(time.time())

datetime.datetime(2018, 12, 22, 3, 48, 8, 205406)

3. datetime对象转格式化时间字符

In [35]:
datetime.datetime(2018, 12, 22, 20, 10, 59).strftime("%Y-%m-%d %H:%M:%S")

'2018-12-22 20:10:59'

4. datetime对象转结构化时间

In [37]:
datetime.datetime(2018, 12, 22, 20, 10, 59).timetuple()

time.struct_time(tm_year=2018, tm_mon=12, tm_mday=22, tm_hour=20, tm_min=10, tm_sec=59, tm_wday=5, tm_yday=356, tm_isdst=-1)

### 三、Numpy和Pandas模块

In [39]:
import numpy as np
import pandas as pd

In [41]:
# 定义一个times字符串df
t = pd.DataFrame({"time_str": ["2018-12-18 00:00:00", "2018-12-19 00:00:00", "2018-12-20 00:00:00", "2018-12-21 00:00:00", "2018-12-22 00:00:00", "2018-12-23 00:00:00"]})

In [42]:
# 截取日期
t['time_str_cut'] = t['time_str'].apply(lambda x: x[0:10])

In [43]:
t

              time_str time_str_cut
0  2018-12-18 00:00:00   2018-12-18
1  2018-12-19 00:00:00   2018-12-19
2  2018-12-20 00:00:00   2018-12-20
3  2018-12-21 00:00:00   2018-12-21
4  2018-12-22 00:00:00   2018-12-22
5  2018-12-23 00:00:00   2018-12-23

In [44]:
# 转化为datatime64格式
t['time'] = pd.to_datetime(t['time_str_cut'])

In [46]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
time_str        6 non-null object
time_str_cut    6 non-null object
time            6 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 224.0+ bytes

In [47]:
# 查看年
t['time'].dt.year

0    2018
1    2018
2    2018
3    2018
4    2018
5    2018
Name: time, dtype: int64

In [48]:
# 查看天
t['time'].dt.day.unique()

array([18, 19, 20, 21, 22, 23])

In [49]:
# 查看时间间隔
t.loc[5, 'time'] - t.loc[0, 'time']

Timedelta('5 days 00:00:00')

In [50]:
# 求出相邻两行数据间的时间差
t['time_1'] = t['time'].shift(1)
t['time_diff'] = t['time_1'] - t['time']
t

              time_str time_str_cut       time     time_1 time_diff
0  2018-12-18 00:00:00   2018-12-18 2018-12-18        NaT       NaT
1  2018-12-19 00:00:00   2018-12-19 2018-12-19 2018-12-18   -1 days
2  2018-12-20 00:00:00   2018-12-20 2018-12-20 2018-12-19   -1 days
3  2018-12-21 00:00:00   2018-12-21 2018-12-21 2018-12-20   -1 days
4  2018-12-22 00:00:00   2018-12-22 2018-12-22 2018-12-21   -1 days
5  2018-12-23 00:00:00   2018-12-23 2018-12-23 2018-12-22   -1 days

In [51]:
# 将时间转化为数值
t['time_value'] = t['time_diff']/np.timedelta64(60*60*24, 's')
t

,time_str,time_str_cut,time,time_1,time_diff,time_value
0,2018-12-18 00:00:00,2018-12-18,2018-12-18,NaT,NaT,NaN
1,2018-12-19 00:00:00,2018-12-19,2018-12-19,2018-12-18,-1 days,-1.0
2,2018-12-20 00:00:00,2018-12-20,2018-12-20,2018-12-19,-1 days,-1.0
3,2018-12-21 00:00:00,2018-12-21,2018-12-21,2018-12-20,-1 days,-1.0
4,2018-12-22 00:00:00,2018-12-22,2018-12-22,2018-12-21,-1 days,-1.0
5,2018-12-23 00:00:00,2018-12-23,2018-12-23,2018-12-22,-1 days,-1.0

In [52]:
# 生成时间序列
pd.date_range('2018-12-18', '23/12/2018')

DatetimeIndex(['2018-12-18', '2018-12-19', '2018-12-20', '2018-12-21',
               '2018-12-22', '2018-12-23'],
              dtype='datetime64[ns]', freq='D')